1inch.py==2.0.3
aiohappyeyeballs==2.4.2
aiohttp==3.10.7
aiosignal==1.3.1
annotated-types==0.7.0
attrs==24.2.0
autocommand==2.2.2
backports.tarfile==1.2.0
bitarray==2.9.2
certifi==2024.8.30
charset-normalizer==3.3.2
ckzg==2.0.1
cytoolz==0.12.3
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-typing==5.0.0
eth-utils==5.0.0
eth_abi==5.1.0
frozenlist==1.4.1
hexbytes==1.2.1
idna==3.10
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
multidict==6.1.0
packaging==24.1
parsimonious==0.10.0
platformdirs==4.2.2
pycryptodome==3.20.0
pydantic==2.9.2
pydantic_core==2.23.4
pyunormalize==16.0.0
regex==2024.9.11
requests==2.32.3
rlp==4.0.1
setuptools==75.1.0
tomli==2.0.1
toolz==0.12.1
typeguard==4.3.0
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.12.2
urllib3==1.26.20
web3==7.3.0
websockets==13.1
wheel==0.43.0
yarl==1.13.1
zipp==3.19.2
